/* You can add global styles to this file, and also import other style files */
.cursor_pointer {
  cursor: pointer;
}

.string-in-panel-heading{
  color: white;
}

.string-in-panel-heading:visited{
  color: white;
}
